<a href="https://colab.research.google.com/github/VAIIBHAVI/basics-of-python/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name="Vaibhavi Bhalshankar"
Roll_No=9174

Lists

In [ ]:
A=["Vaibhavi","Bhalshankar",21,"Student",]
B=["SP College","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Vaibhavi', 'Bhalshankar', 21, 'Student']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [ ]:
a=("Vaibhavi","Bhalshankar",21,"Student")
b=("SP College","Autonomous","Sadashiv Peth",411030)
print(a)
print(b)

('Vaibhavi', 'Bhalshankar', 21, 'Student')
('SP College', 'Autonomous', 'Sadashiv Peth', 411030)

In [ ]:
print(A[0:2])
print(B[2:3])
print(a[2])
print(b[3])

['Vaibhavi', 'Bhalshankar']
['Sadashiv Peth']
21
411030

Class

In [ ]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [ ]:
print(A)
A1=A.copy()
print(A1)

### Tupples cannot be copied

['Vaibhavi', 'Bhalshankar', 21, 'Student']
['Vaibhavi', 'Bhalshankar', 21, 'Student']

Append

In [ ]:
print(B)
B.append("Autonomous")
print(B)

### TUpples cannot be modified

['SP College', 'Autonomous', 'Sadashiv Peth', 411030]
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Count

In [ ]:
print(A.count("Vaibhavi"))
A.append("Vaibhavi")
print(A.count("Vaibhavi"))

1
2

Delete list

In [ ]:
try:
 print(A1)
 del A1
 print(A1)
except:
    pass

### List A1 is deleted therefore it is showing error
### Used Try and Expect to maintain the continuity of the program

['Vaibhavi', 'Bhalshankar', 21, 'Student']

Extend

In [ ]:
print(A)
print(B)
A.extend(B)
print(A)

['Vaibhavi', 'Bhalshankar', 21, 'Student', 'Yogesh Kumar', 'Vaibhavi']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['Vaibhavi', 'Bhalshankar', 21, 'Student', 'Yogesh Kumar', 'Vaibhavi', 'SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Index

In [ ]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

### If the elements are repeated in the list then index() will provide the index no. of first element

2
7

Sort

In [ ]:
K=["D","A","C","B"]
print(K)
K1=[4,2,1,3]
print(K1)
K.sort()
K1.sort()
print(K)
print(K1)

### For sorting all the elements in the list should be of same type

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [ ]:
print(K[:2])
print(K1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested List

In [ ]:
ABlist=["Vaibhavi","SP COllege",[21,411030]]
print(ABlist)
print(ABlist[2])

['Vaibhavi', 'SP COllege', [21, 411030]]
[21, 411030]