In [ ]:
a=3.1432
b=7.98214
c=a%a
c
d=a+b
d
a**a
a=25
sqrt(a)

NameError: ignored

In [ ]:
a=25
a**1/2

12.5